# build
/build
/dist
/site

# flutter
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
app.*.map.json
app.*.symbols

# java
*.class
*.iml
*.jks
.cxx
.externalNativeBuild
.gradle
local.properties

# doit and scripts
.doit.db*
*.pyc

# temp
.DS_Store
.buildlog

# editors
*.iml
*.ipr
*.iws
*.swp
.atom
.idea/
.vscode
.$*

# personal
/TODO.org
.aider.*
