<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.rocstreaming.rocdroid"
          android:versionCode="3000"
          android:versionName="0.3.0">
  <!-- Numbers above are updated automatically by version_ctl.py.
       Version here should match version from pubspec.yaml, otherwise build fails. -->

    <!-- For sreaming -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To get list of local network interfaces -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- For sender, when capturing sound from microphone -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- To continue working when app is closed -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- For sender, when capturing sound from other apps -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <!-- To create notification from sender -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
      android:label="Roc Droid"
      android:name="${applicationName}"
      android:icon="@mipmap/launcher_icon">

      <service
        android:name=".StreamingService"
        android:exported="false"
        android:foregroundServiceType="mediaProjection" />

      <activity
        android:name=".MainActivity"
        android:exported="true"
        android:launchMode="singleTop"
        android:taskAffinity=""
        android:theme="@style/LaunchTheme"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:hardwareAccelerated="true"
        android:windowSoftInputMode="adjustResize">

        <!-- Specifies an Android theme to apply to this Activity as soon as
             the Android process has started. This theme is visible to the user
             while the Flutter UI initializes. After that, this theme continues
             to determine the Window background behind the Flutter UI. -->
        <meta-data
          android:name="io.flutter.embedding.android.NormalTheme"
          android:resource="@style/NormalTheme"
          />

        <intent-filter>
          <action android:name="android.intent.action.MAIN"/>
          <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>

      </activity>

      <!-- Don't delete the meta-data below.
           This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
      <meta-data
        android:name="flutterEmbedding"
        android:value="2" />

    </application>

    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.
         In particular, this is used by the Flutter engine in
         io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
      <intent>
        <action android:name="android.intent.action.PROCESS_TEXT"/>
        <data android:mimeType="text/plain"/>
      </intent>
    </queries>

</manifest>
